@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

h2,
h3 {
    color: var(--black);
}

img {
    max-width: 100%;
    height: auto;
}

/* Mission */
.mission-section {
    display: flex;
    padding: 50px 0;
}

.mission-text {
    background-color: #065f46;
    color: var(--white);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
}

.mission-description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--white);
}

.about-mission {
    padding: 50px 0;
}

.mission-title {
    font-size: 2rem;
    margin-bottom: 45px;
    color: var(--white);
}

.mission-image {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}


/* Team */
.team-section-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.team-members {
    justify-content: center;
}

.team-member {
    text-align: center;
    margin-bottom: 30px;
}

.team-member-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member-name {
    font-size: var(--size-md);
    font-weight: bold;
}

.team-member-title {
    display: block;
    font-size: 1rem;
    color: var(--darkgrey);
    margin-top: 5px;
}

/* About Store  */

.store-text {
    background-color: #065f46;
    color: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.store-description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--white);
}

.about-store {
    padding: 50px 0;
}

.store-description {
    font-size: 1.2rem;
    line-height: 1.5;
}

.store-image {
    max-width: 100%;

}