@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--black);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: var(--size-2xl);
    font-weight: bolder;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-us {
    padding: 20px;
    background-color: var(--white);
}

.contact-us p {
    padding: 0 100px 20px 100px;
}

.contact-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.contact-grid2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.contact-image img {
    width: 100%;
    border-radius: 5px;
    margin: 100px;
    max-width: 700px;
}

.contact-image p {
    margin-top: 10px;
    font-size: 1.1em;
}

.contact-form {
    background-color: var(--neutral1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 700px;
}

.contact-form h2 {
    text-align: left;
    margin-bottom: 10px;
}

.contact-form p {
    text-align: left;
    padding: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form select, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--darkgrey);
    border-radius: 3px;
    font-size: 1em;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.contact-form button:hover {
    background-color: var(--compliment2);
}

.support-hours {
    margin-top: 20px;
    font-size: 0.9em;

}

.contact-map {
    margin-top: 30px;
    text-align: center;
}

.newsletter {
    background-color: #e9ecef;
    padding: 20px;
    text-align: left;
}

.newsletter h3{
    padding: 0 100px 0 100px;
    text-align: left;
}

.newsletter h4{
    padding: 0 0 0 500px;
    text-align: left;
}

.newsletter p{
    padding: 0 100px 0 100px;
    text-align: left;
}

.newsletter-signup {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.newsletter-signup input {
    padding: 10px;
    width: 300px;
    border: 2px solid var(--neutral2);
    border-radius: 3px;
}

.newsletter-signup button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background-color: var(--compliment2);
}

.sub-list img {
    max-width: 20px;
}

.sub-list ul li {
    list-style-type: none;
    text-align: left;
    padding: 0 0 0 500px;
    margin: 0;
}

#signup-info {
    text-align: center;
}