@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

#products {
    margin-top: 50px;
}

.product-box {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.product-box h3 {
    color:  var(--white);
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col-md-3, .col-md-4 {
    flex: 1 1 300px;
    max-width: 300px;
}

.card {
    margin-bottom: 20px;
    flex-grow: 1;
    max-width: 100%;}

.card img {
    width: 100%;
    max-height: 300px;
}

.card-title {
    color: var(--black);
    font-size: 1.1rem;
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-body button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.card-body button:hover {
    background-color: var(--compliment2);
}

/* Navigation Tabs */
.nav-tabs {
    margin-left: 30px;
}

.nav-tabs .nav-link.active {
    background-color: var(--primary); 
    color: var(--white); 
    border-color: var(--primary); 
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    background-color: var(--compliment2); 
    color: var(--white);
    border-color: var(--compliment2); 
}

.nav-tabs .nav-link {
    color: var(--primary); 
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.nav-tabs .nav-link {
    padding: 10px 15px;
}


/* Product Cards */
.product-card {
    flex: 1 1 calc(30% - 20px); 
    height: 350px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: var(--black);
    min-width: 250px;
}

/* Product Container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
}

/* Container for image */
.product-image-container {
    width: 100%;
    padding-top: 100%; 
    position: relative;
}

.product-card h4 {
    margin-bottom: 15px;
    z-index: 2;
}

.product-card .btn {
    z-index: 2;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.product-card button:hover {
    background-color: var(--compliment2);
}

/* Background Images for Each Product */
#dog-product-card {
    background: url('/images/general/dog-product.jpg') no-repeat center center;
    background-size: cover;
}

#cat-product-card {
    background: url('/images/general/cat-product.jpg') no-repeat center center;
    background-size: cover;
}

#other-product-card {
    background: url('/images/general/other-product.jpg') no-repeat center center;
    background-size: cover;
}

/* Overlay to Darken the Image */
.product-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Hero Section */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.hero-container {
    background: url('/images/products-main.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
    position: relative;
    margin: 10 auto;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-container h1 {
    color: var(--white);
    font-size: var(--size-4xl);
    font-weight: bold;
    position: relative;
    z-index: 2;
    margin: 0;
}


/* Responsive design */
@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(45% - 20px); 
    }
}

@media (max-width: 480px) {
    .product-card {
        flex: 1 1 100%; 
        margin: 10px 0; 
    }
}